server {

  root   <%= node[:doc_root] %>;
  index index.php;

  location / {
      try_files $uri $uri/ /index.php$is_args$args;
  }

  location ~ \.php$ {
        fastcgi_pass   127.0.0.1:9000;
        # fastcgi_pass   unix:/var/run/php5-fpm.sock;
        fastcgi_read_timeout 600;
        fastcgi_index  index.php;
        include        fastcgi_params;
    }

    location ~* ^.+\.(jpg|js|jpeg|png|ico|gif|txt|js|css|swf|zip|rar|avi|exe|mpg|mp3|wav|mpeg|asf|wmv)$ {
        try_files $uri /index.php$is_args$args;
    }

}